/*
      WARNING! While we at scoobadoobadoo strive for perfection, 
	  we cannot guarantee it. This product is just a prototype and 
	  should never ever be use to plan real dives. The use of this product 
	  may and will most likely result in serious injury and/or a horribly 
	  painful death. We are not liable for any pain and suffering caused 
	  by the usage of this product.
*/

html,body{
    height:100%;
    font-size: 12px arial;
}
.main-content {
	padding: 40px 15px;
	text-align: center;
}

.dive-input {
    padding-top: 8px;
}

.dive-input > * {
    width: 100%;
}

.section-header {
    text-align:center;
}

.header-text {
    font-size: 22px;
    text-align:center;
}

.diveplan {

}
.sidebar {
    border-right: 1px solid #999;
    height: 100%;
}

.divestep-text {
    width: 50px;
}

.error-text {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#MainContent {
    height: 100%;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.fill-height {
    height: 100%;
}

.navbar {
    margin: 0px;
}


/* D3 */
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
#d3container {
    background-color: #ADD8E6;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}